.memoryPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../images/backgrounds/bgGray.png");
    background-size: cover;
    height: 100vh;
}

.memoryContainer {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    margin-left: 3px;
    margin-top: 20px;
}

.memoryPage header {
    display: flex;
}

header p {
    margin: 5px 0px;
    margin-left: 40px;
}

/* Media Query*/
@media screen and (max-width: 800px) and (min-width: 394px) {
    .memoryContainer{
        grid-template-columns: auto auto auto auto auto;
        background-image: url("../../images/backgrounds/bgGray.png");
        background-size: cover;
    }
}  