.character-card{
    width: 150px;
    height: 150px;
    text-align: center;
}

.character-card p{
    background-color: blue;
    width: 150px;
    height: 150px;
}

/* Modal styling  */
.modal{
    width: 100px;
    height: 100px;
}

.modal-content{
    width: 100%;
    height: 100%,
}

.modal-image{
    width: 50%;
    height: 50%;
}



