.Ravenclaw-Page{
    background-image: url("../../../public/bgBlue.png");
    background-size: contain;
    background-color: #cd7f32;
    display:flex;
    flex-direction: column;
}

.main-container{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
    column-gap: 20px;
    width: 100%;
    justify-content: center;
}

/* Media Query*/
@media screen and (min-width: 800px) {
    .main-container{
        grid-template-columns: auto auto auto auto;
    }
}    


