.navigation img {
    height: 20vw;
    }
    
      body{
        background-color: rgb(24, 23, 23);
        color: white;
      }
      
        .modal{
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 40px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        
        .modal-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #fefefe;
        margin: auto;
        padding: 10px;
        border: 1px solid #888;
        border-radius: 20px;
        width: 30%;
        height: 90vh;
        color: black;
        }
        .modal-image img {
          height: 100%;
          object-fit: contain;
          overflow: hidden;
      }
      .modal-image{
        height: 40vh;
        width: auto;
        border: 1px solid black;
      }
      .modal-text li {
        list-style-type: none;
      }
    
    select {
      /* appearance: none; */
      background-color: transparent;
      border: none;
      margin: 2px;
      width: 100%;
    }
    
    .select {
      min-width: 15ch;
      max-width: 30ch;
    margin: 4px;
      background-color: #fff;
    }
    
    .filter-container{
      display: flex;
    }
    