.Ravenclaw-Page{
    background-image: url("../images/backgrounds/bgBlue.png");
    background-size: cover;
    background-color: #cd7f32;
    display:flex;
    flex-direction: column;
    animation: fadein 5s;
}

.ravenclaw-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadein 4s;
}

.ravenclaw-header img{
    width: 100px;
    animation: fadein 2s;
}

.ravenclaw-logo{
    display:flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.main-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p:hover{
        cursor: pointer;
}

.modal {
    position: fixed; 
    padding-top: 30px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: black; 
  }
  
  .modal-content {
    box-shadow: 5px 5px 30px #1123ec,
    2px 2px 2px rgb(32, 32, 32);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    margin: auto;
    padding: 25px;
    border-radius: 5px;
    width: 100%;
  }
  .modal-image img {
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
  }
  .modal-image {
    height: 50vh;
    justify-content: center;
    
    
  }
  .modal-text li {
    display: flex;
    width: 85%;
    height:15%;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    
  }

  



