.Ravenclaw-Page{
    background-image: url("../images/backgrounds/bgBlue.png");
    background-size: cover;
    background-color: #cd7f32;
    display:flex;
    flex-direction: column;
    animation: fadein 5s;
}

.ravenclaw-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadein 4s;
}

.ravenclaw-header img{
    width: 100px;
    animation: fadein 2s;
}

.ravenclaw-logo{
    display:flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.main-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p:hover{
        cursor: pointer;
}

  



