.slytherin-body{
    background-image: url(../images/backgrounds/bgGreen.png);
    background-size: cover;
    font-family: 'Cinzel', serif;
}

.slytherin-body h1{
    font-size: 24px;
    margin: 10px;
    font-weight: 600;
    color: black;
}

.slytherin-input{
    font-family: 'Cinzel', serif;
    margin: 5px;
    font-size: 20px;
    margin-top: 20px;
    background-color: lightgray;
    border-radius: 5px;
    height: 30px;
    width: 200px;
}
  
 .dropdown-slytherin button{
    color: white;
    background-color: #155715;
    border: solid white 2px;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Cinzel', serif;
  }

  .slytherin-cards button{
    animation: fadein 6s;
    color: white;
    background:none;
    font-size: 20px;
    border: none;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Cinzel', serif;
    transition: 600ms;
  }

  .slytherin-cards button:hover{
    font-size: 22px;
  }
  
 .slytherin-header{
    animation: fadein 3s;
 }
  
  .navbar-slytherin {
    background:none;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  .navbar-nav-slytherin {
  
    display: flex;
    justify-content: flex-end;
    padding-top: 4px;
    background: none;
  }


  .SlytherinDisp {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

  }
  
  .nav-item {
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-slytherin {
    background-color: #155715;
    color: white;
    border-radius: 5px;
    border-style: solid black 4px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    font-weight: 500;
  }
  
  .icon-slytherin:hover {
    filter: brightness(1.2);
  }
  
  
.slytherin-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header--logo{
    text-align: center;
}
.slytherin-header img{
    width: 120px;
    margin: 1rem 0;
}
  .dropdown-slytherin {
    position: absolute;
    top : 120px;
    transform: translateX(-45%);
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    border: 3px solid #fff;
    background-color: #155715;
    
  }
 

  .modal-slytherin {
    font-size:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal-slytherin img{
    width:200px ;
    padding: 10px;
  }
  
  .modal-row {
      display: flex;
      font-weight: 500;
  }

  .modal-row p{
      font-size: 18px;
  }
  