.menu{
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

/*
.menu-item{

}

.searchbar{

}
*/

/* Media Query */
@media screen and (max-width: 428px) {
    .menu{
        display: flex;
        flex-direction: column;
    }
}    

