.NavBar a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}
.NavBar a:hover {
  text-decoration: underline;
}
.NavBar li {
  list-style: none;
  margin: 0 1rem;
}

.NavBar .Navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.NavBar .Navigation ul {
  display: flex;
  padding: 20px;
  align-items: center;
}

.NavBar .MobileNavigation {
  display: none;
}

.NavBar .MobileNavigation li {
  left: 0;
  margin-bottom: 25px;
}
.NavBar .MobileNavigation ul {
  margin: 0;
  height: 200vh;
  width: 100%;
  padding: 80px;
  background-color: black;
  animation: 0.9s slide-right;

}

.NavBar .MobileNavigation .Hamburger {
  position: fixed;
  cursor: pointer;
  font-size: 40px;
}
@media (max-width: 800px) {
  .NavBar .Navigation {
    display: none;
  }
  .NavBar .MobileNavigation {
    display: flex;
    position: fixed;
    left: 0;
  }
}

@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes slide-out {
  from {
    margin-right: -100%;
  }
  to {
    margin-right: 0%;
  }
}

/***** Slide Left *****/

.fade-in {
  animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
