
.NavBar a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
  }
  .NavBar a:hover {
    text-decoration: underline;
  }
  .NavBar li {
    list-style: none;
    margin: 0 1rem;
  }
  .active {
    font-size: larger;
    font-weight: bolder;
    
  }
  .NavBar .Navigation  {
    display: flex;
    align-items: center;
    justify-content: center;
}
.NavBar .Navigation ul {
    display: flex;
    padding: 20px;
    align-items: center;
}

.NavBar .MobileNavigation {
display: none;
}

.NavBar .MobileNavigation li {
    flex-direction: column;
    left: 0;
    padding: 10px;

}
.NavBar .MobileNavigation ul {
margin-top: 10vh;
height: 200vh;
min-width: 100vw;
background-color: black;
animation: 2s slide-right;
width: 100%;

}
.NavBar .MobileNavigation .Hamburger {
    position: fixed;
    cursor: pointer;
    font-size: 40px;
}

@media (max-width: 800px) {
.NavBar .Navigation {
    display: none;
}
.NavBar .MobileNavigation {
    display: flex;
    position: fixed;
    left: 0;    

}

}



@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

/***** Slide Left *****/


.fade-in {
  animation: fadeIn ease 3s;
}
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

