body {
  margin: 0;
  padding: 0;
  font-family: "Cinzel", serif;
  font-size: 20px;
  color: white;
}

.styleQuote {
  text-align: center;
  padding: 20px;
  font-family: "Charm", cursive;
  font-size: 22px;
  font-weight: 200px;
}
.quote-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadein 8s;
}

.quote-footer img{
  width: 80px;
}

.active {
  font-size: larger;
  font-weight: bolder;
}

/* styling for choosing house  */

.house-container-h {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000000;
  height: 100%;

}
#house-logo-h {
  width: 50%;
}

.house-images-h {
  width: 100%;
  flex-direction: column;
}
.link-h {
  font-size: 30px;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 8px;
  background-color: #424242;
}

.house-images-h img {
  width: 90%;
  padding-bottom: 30px;
}
.single-house-h {
  margin-top: 10px;
  padding: 40px;
}

#slytherin-h {
  background: linear-gradient(#000000, #082e0e, #000000);
}
#gryffindor-h {
  background: linear-gradient(#000000, rgb(73, 27, 27), #000000);
}
#hufflepuff-h {
  background: linear-gradient(#000000, #dcac10a9, #000000);
}
#ravenclaw-h {
  background: linear-gradient(#000000, #025673, #000000);
}

@media screen and (min-width: 400px) {
  .house-images-h {
    height: 150vh;
    width: 60%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .house-row-h {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .single-house-h {
    margin: 30px;
  }

  .house-images-h img {
    width: 20vw;
    padding-bottom: 30px;
  }
}

/* Sortinghat */

.sortinghat-container {
  font-family: "IM Fell English SC";

  min-height: 100vh;
  background-image: url(./images/backgrounds/bgBrown.png);
  text-shadow: #ee6a0c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 4px 4px 2px rgb(41, 37, 37);
}

.sortinghat-img {
  width: 70vw;
}
.house-container {
  text-align: center;
  width: 60vw;
  padding: 5px;
  height: 50vh;
}

.sortingbutton {
  padding: 9px;
  width: 20vw;
  background-color: #1b4b43;
  color: white;
  font-size: 20px;
}
@media screen and (min-width: 500px) {
  .sortinghat-img {
    width: 30%;
  }
  .house-container {
    text-align: center;
    width: 60vw;
    padding: 5px;
    height: 30vh;
  }
}

/*  */
/*Styling for home  */

.home-body button{
  display: inline-block;
  position: relative;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 30px;
  text-align: center;
  border: none;
  clip-path: polygon(7% 0, 93% 0, 100% 50%, 93% 100%, 7% 100%, 0 50%);
  background-color: rgb(49, 49, 49);
  background-image: radial-gradient(250% 70% at center 20%, rgb(48, 48, 48) -30%, rgb(54, 54, 54) 49%, rgb(48, 48, 48) 50%, rgb(49, 49, 49) 150%);
  background-repeat: no-repeat;
  transition: background-position-y ease-in-out 250ms;
  width: 200px;
  margin: 20px;
 }
 
 .home-body button:hover {
  background-position-y: -50px;
 }
 
 .home-body button:active {
  transform: scale(0.99);
 }
.home-body{
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(./images/backgrounds/bgHog.jpg);
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
.home-buttons{
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-a{
  text-decoration: none;
  color: white;
  font-family: 'Cinzel', serif ;
  font-size: 20px;
}

.home-buttons img{
  width: 150px;
}

/* Home-nav styling*/

.home-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-nav img{
  width: 80px;
}
.link-b{
  text-decoration: none;
  color: white;
  font-family: 'Cinzel', serif ;
  font-size: 20px;
  transition: 300ms;
}
.link-b:hover{
  font-size: 24px;
}
