body {
  margin: 0;
  padding: 0;
  font-family: "Cinzel", serif;
  font-size: 20px;
  color: white;
}

.styleQuote {
  text-align: center;
  padding: 20px;
  font-family: "Charm", cursive;
  font-size: 22px;
  font-weight: 200px;
}
.quote-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadein 8s;
}

.quote-footer img{
  width: 80px;
}

.active {
  font-size: larger;
  font-weight: bolder;
}


/*Styling for home  */

.home-body button{
  display: inline-block;
  position: relative;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 30px;
  text-align: center;
  border: none;
  clip-path: polygon(7% 0, 93% 0, 100% 50%, 93% 100%, 7% 100%, 0 50%);
  background-color: rgb(40, 4, 50);
  background-image: radial-gradient(250% 70% at center 20%, rgb(40, 4, 50) -30%, rgb(54, 12, 50) 49%, rgb(40, 4, 50) 50%, rgb(40, 4, 50) 150%);
  background-repeat: no-repeat;
  transition: background-position-y ease-in-out 250ms;
  width: 200px;
  margin: 10px;
 }
 
 .home-body button:hover {
  background-position-y: -50px;
 }
 
 .home-body button:active {
  transform: scale(0.99);
 }
.home-body{
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(./images/backgrounds/home3.png);
  background-repeat: no-repeat;
  background-size: contain, cover;
  min-height: 100vh;
}
.spark-img{
  height: 20vh;
  bottom: 25%;
  position: absolute;
  left: 25%;
}
@media screen and (min-width: 500px) {
  .spark-img {
    left: 45%;
  }
}

.home-buttons{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-a{
  text-decoration: none;
  color: white;
  font-family: 'Cinzel', serif ;
  font-size: 20px;
}

.home-buttons img{
  width: 150px;
}

/* Home-nav styling*/

.home-nav{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-nav img{
  width: 80px;
}
.link-b{
  text-decoration: none;
  color: white;
  font-family: 'Cinzel', serif ;
  font-size: 20px;
  transition: 300ms;
}
.link-b:hover{
  font-size: 24px;
}
