.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuBar{
    display: flex;
    margin-top: 20px;
}

.searchbar{
    cursor: pointer;
}


/* Media Query */
@media screen and (max-width: 428px) {
    .menu{
        display: flex;
        flex-direction: column;
    }
}    

