.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.searchbar{
    cursor: pointer;
}

.allButton {
    min-width: 15ch;
    max-width: 30ch;
    margin: 4px;
    background-color: #fff;
    border: 1px solid black;
}

