.ravenclawDropdown {
    display: none;
}
.ravenclawDropdown.show {
    display: flex;
    flex-direction: column;
}

.fa-angle-down{
    margin-left: 0.5rem;
}

.menu-item {
    min-width: 15ch;
    max-width: 30ch;
    margin: 4px;
    background-color: rgb(20, 20, 171);
    border-radius: 10px 10px;
    padding: 2px 10px 2px 10px;
    color: #fff;
    box-shadow: 2px 2px 5px black;
}

.menu-item select {
    background-color: rgb(20, 20, 171);
    color: white;
    border: none;
}

#standard-select{
    border: black;
    cursor:pointer;
}

#standard-select:hover{
    color:blue;
}

